@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://img.freepik.com/free-vector/beige-curve-abstract-vector-background_53876-114017.jpg?w=1380&t=st=1663543572~exp=1663544172~hmac=b4078ce3a543ed378b312244b2071d204312749d91a2e135beab8b01ba03c1a3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
